<h1>Descrição do artigo: (<%= @article.id %>) </h1>
<br>
<h2> <%= @article.title %> </h2>
<strong> <%= @article.body %> </strong>

<br><br><br><hr>
<strong> <%= link_to "Voltar", root_path %> </strong>